@font-face {
	font-family: OpenSans-Regular;
	src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
	font-family: OpenSans-Bold;
	src: url("../fonts/OpenSans-Bold.ttf");
}

* {
	font-family: OpenSans-Regular;
}

h1 {
	font-family: OpenSans-Bold;
	font-weight: 300;
}